header{
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.navLinks{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.actionLink{
    text-decoration: none;
    color: var(--text-color);
}