.taskListSection{
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 3rem;
}

.addButton{
    color: var(--black);
    font-size: 2rem;
    text-decoration: none;
}


.taskList{
    display: flex;
    flex-direction: column;
    margin-block: 2rem;
    gap: 1rem;
}

